name: Publish Go Bindings

on:
    push:
        tags:
            - 'v*.*.*'

jobs:
    publish-go:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install protoc
              run: sudo apt-get update && sudo apt-get install -y protobuf-compiler

            - name: Generate Go Protobuf
              run: bash ./scripts/generate_go.sh

            - name: Create GitHub Release (Go)
              uses: softprops/action-gh-release@v2
              with:
                  generate_release_notes: true
