name: Publish Go Bindings

on:
    push:
        tags:
            - 'v*.*.*'

jobs:
    publish-go:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Go
              uses: actions/setup-go@v5
              with:
                  go-version: '1.22'

            - name: Install protoc
              run: sudo apt-get update && sudo apt-get install -y protobuf-compiler

            - name: Install Go protobuf plugins
              run: |
                  go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.34.1
                  go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.4.0

            - name: Generate Go Protobuf
              run: bash ./scripts/generate_go.sh

            - name: Create GitHub Release (Go)
              uses: softprops/action-gh-release@v2
              with:
                  generate_release_notes: true
