name: Proto CI & Publish

on:
    pull_request:
    push:
        branches:
            - main

jobs:
    publish-npm:
        if: startsWith(github.ref, 'refs/tags/v')
        needs: verify
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  registry-url: https://registry.npmjs.org/

            - name: Install deps
              run: yarn install --frozen-lockfile

            - name: Make scripts executable
              run: chmod +x scripts/*.sh

            - name: Generate Proto (TS & Go)
              run: yarn proto:gen

            - name: Publish to NPM
              run: npm publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    publish-go:
        if: startsWith(github.ref, 'refs/tags/v')
        needs: verify
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Make scripts executable
              run: chmod +x scripts/*.sh

            - name: Generate Go Proto
              run: ./scripts/generate-go.sh

            - name: Release Go package on GitHub
              uses: softprops/action-gh-release@v2
              with:
                  generate_release_notes: true
