name: Publish Python Package

on:
    push:
        branches:
            - main
        tags:
            - 'v*.*.*'

jobs:
    publish-python:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: '3.11'

            - name: Install build deps
              run: |
                  python -m pip install --upgrade pip
                  pip install build twine grpcio-tools

            - name: Generate Python Protobuf
              run: bash ./scripts/generate_py.sh

            - name: Build Python wheel
              run: python -m build

            - name: Publish to PyPI
              run: twine upload dist/*
              env:
                  TWINE_USERNAME: '__token__'
                  TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
